body {
    margin: 0;
    background-color: rgb(235, 235, 235);
}

.rounded {
    border-radius: 7px;
}

.topbar#topbar {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
}

.topbar.button {
    background-color: rgb(194, 194, 194);
}
